:root, div#app{
    background-color: #1b1b1b;
}

.bi-star-fill{
    color: rgb(224, 201, 95);
}

main{
    height: 100%;
}

h2{
    color:white;
}

div.container-media {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    width: 100%;
}

div.media-list {
        position: relative;
        width: calc(100% / 5 - 1rem);
        margin: 0 .5rem .5rem;
}

div.overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    color: white;
    overflow: auto;
}

div.media-list:hover div.overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, .4);
    transition: background-color .5s;
    scrollbar-width: none;
}

.thumbnail {
    width: 100%;
}
.poster, .not-found-poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overview{
    font-size: .7rem;
}

.desc-box{
    padding-left: .2rem;
    font-size: .9rem;
}